html{
  margin: 0px 20px 0px 20px;
  padding: 20px;
  font-family: sans-serif;
}

.contenedor {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 1rem;
}

.header {
  grid-area: header;
  font-size: 14px;
  height: max-content;
}

.redes {
  background-color: rgb(34, 34, 34);
  font-size: 14px;
  padding: 15px;
  display: flex;
  justify-content: end;
}

.redes>a:hover{
  background-color: #DD4C39;
}

.menu-nav {
  background-color:rgb(34, 34, 34);
  font-size: 14px;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
}

.menu-nav div a {
  color: white;
  margin: 15px;
  text-decoration: none;
}

.menu-nav div a:link {
  color: white;
}

.menu-nav div a:visited {
  color: white;
}

.menu-nav div a {
  color: white;
}

.menu-nav div a:hover {
  background-color: #DD4C39;
}

.main{
  grid-area: main;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.main img{
  width: 200px;
  height: 200px;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 50%;
  padding: 5px;
  width: 150px;
  opacity: 0.5;
}

.box{
  color: #0E162E;
  text-align: center;
  margin: 1% 1%;
  padding-top: 1%;
  box-sizing: border-box;
  border: 2px solid rgb(34, 34, 34);
  border-radius: 10px;
  background-color: #0E9FE9;
  overflow: auto;
  height: 70vh;
  width: 40vh;
}

.box:hover {
  transform: scale(1.1, 1.1);
  border-color: #DD4C39
}

footer {
  grid-area: footer;
  background-color:rgb(34, 34, 34);
  font-size: 14px;
  padding: 10px;
}

.footer>p {
  color: white;
  text-align: center;
}

.footer a:link {
  color: white;
}

.footer a:visited {
  color: white;
}

.animacion {
  
  animation-name: desplazarTexto;
  animation-duration: 3s;
}

@keyframes desplazarTexto {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.form{
  display:grid;
  place-items: center;
}

.input {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 100%;
}

fieldset label{
  display: inline;
  padding-right: 2%;
}

textarea {
  width: 100%;
}

.about {
  text-align: center;
}

@font-face {
  font-family: "Amatic_SC";
  src: url('../fonts/AmaticSC-Bold.ttf');
}

h2{
    font-family: "Amatic_SC";
    font-size:xx-large;
}

.customers{
  display: grid;
  place-items: center;
}

#api-axios{
  border-collapse: separate;
  border-spacing: 20px 5px;
}

table {
  color: white;
  text-shadow: 1px 1px 1px black;
  background: linear-gradient(to bottom, #0E9FE9, rgb(34,34,34));
  border: 3px solid rgb(34, 34, 34);
}

.news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.news-items{
  padding: 2px;
}

@font-face {
  font-family: "Orbitron";
  src: url('../fonts/Orbitron-VariableFont_wght.ttf');
}

h5{
  font-family: "Orbitron";
}